body{ background-color: black;
    text-align: center; 
  }
  
  h1{color: rgb(231, 231, 231);
  background-color: rgba(33, 167, 0, 0.726);}
  h2{color: rgb(231, 231, 231);}
  h3{color: aliceblue;
  background-color:rgba(33, 167, 0, 0.726);}
  h4{color:aliceblue}


 